<!DOCTYPE html>
<html>
<head>
	<title>Manayunk Ave</title>
	<style>h1 {text-align: center; font-size: 60px}
	nav { background-color: #23;padding: 15px;text-align: center}
	.card {font-size: 23px; border: 2px solid black; align-items: flex-start; border: 2px}
	</style>
</head>
<body>
	<h1>Hello from the home server of Manyunk Ave</h1>
	<nav>
		<a href="index.html">Home	|</a>
		<a href="index.html">Cards Against Humanity	|</a>
		<a href="http://10.0.0.185:8000/admin/">Admin       |</a>
		<a href="https://github.com/oboyle3/">Github       |</a>
		<a href="https://github.com/oboyle3/">FileUpload       |</a>

	</nav>
	<p1>Black Cards</p>
	{% for black_card in black_card  %}
		<div class = "card">
		<p>{{black_card.text}}</p>
		</div>
	{% endfor %}
</body>
<html>
